# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/vegaskin/test"
PassengerBaseURI "/"
PassengerNodejs "/home/vegaskin/nodevenv/test/18/bin/node"
PassengerAppType node
PassengerStartupFile config/server.js
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
